/* POPPINS FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  background-color: #f8f8fa;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5rem;
}

/* 1. Header section */
.header-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #4516fe;
  width: 100vw;
  height: 28rem;
  color: #ffffff;
  padding-top: 2rem;
}

/* (i) Nav- bar section */
nav {
  width: 90vw;
  height: 4rem;
  margin: auto;
  /* background-color: #d86b6b; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /* gap: 40px; */
  /* margin-right:4vw; */
  /* margin-top: 3vh; */
}

.logo{
  max-width: 100%;
  height: auto;
}

nav>div:first-child{
  align-self: flex-end;
}

.nav-right{
  width: 34vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-right>svg{
  align-self: center;
}

.nav-item{
  font-weight: 300;
}

.nav-item:hover{
  font-weight: 500;
}

.nav-item-active {
  color: #4516fe;
  background-color: #ffffff;
  padding: 2px 15px;
  border: none;
  border-radius: 2px;
}

/* (ii)  Header description Left section */
.header-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95vw;
  margin-left: auto;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 6rem;
  width: 50vw;
  gap: 10px;
}

.header-text > img {
  height: 5px;
  width: 40px;
}

.header-text > h2 {
  font-size: 42px;
  letter-spacing: 1.5px;
  font-weight: 500;
}

/* (iii)  Header image right section */
.header-image {
  height: auto;
  max-width: 100%;
}
/* 2. Companies section */
.companies {
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin: auto;
  justify-content: flex-start;
  gap: 4rem;
  font-size: 24px;
}

.company-items {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}

/* 3. Api Section */
.api {
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.8rem;
  }

.cards {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2vw;
}

.card {
  height: 200px;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 1.6rem;
  border-radius: 15px;
}

.card-logo {
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
}

.card-head, .card-head-active{
  font-weight: 600;
}

.card-body{
  font-size: 13px;
}

.card-active, .card:hover {
  background-color: #ffffff;
  height: 200px;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 1.6rem;
  border-radius: 15px;
}

.card-head-active{
  color: #4516fe;
}


.next_button{
  border: none;
  align-self: center; 
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: #5a31fc; 
}

.next_button>p{
  color: #ffffff;
  font-family: "poppins";
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
}


/* Blog section  */

.blog-section{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.blog-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 90vw;
  margin: auto;

}

.blog-heading>p{
  font-size: 22px;
  font-weight: 700;
  color: #5a31fc;
}
/* <!-- Blogs --> */
.blog-cards{
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.blog-card{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
}

.blog-content{
  background-color:  #ffffff;
  width: 25vw;
  border-top-right-radius:10px ;
  border-bottom-right-radius:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-content>div:first-child{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 0.7rem;
  margin-left: 2.25rem;
  margin-right: 0.7rem;
}

h6{
  color: #5a31fc;
}

.blog-bottom{
  position: relative;
  top: 3.5rem;
  left: 2.25rem;
  height: 3.2rem;
}

.blog-bottom>img{
  outline: 3px solid #ffffff;
  border-radius: 50%;
}

.blog-author{
  width: 300px;
  position: relative;
  top: 0.3rem;
  left: 3.5rem;
}

.blog-cards,
.blog-card,
.download-section,
.footer-section,
.list,
.logos-list,
.footer-right-logo,
.logos-list {
  display: flex;
  flex-direction: row;
}

/* <!-- FAQ SECTION --> */
.faq-section {
  display: flex;
  flex-direction: row;
  background-color: #e9edff;
  background-size: cover;
  justify-content: space-between;
}

.faq-image {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.faq-content
{
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin-left: 5vw;
}

.faq-content>h2{
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}

div.faq-content>h4:nth-child(2){
  font-size: 14px;
  font-weight: 400;
}

div.faq-content>h4:nth-child(3){
  font-size: 16px;
  font-weight: 600;
}

.faq-content>button{
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 5px;
  background-color: #5a31fc;
  color: #ffffff;
  }

/* <!-- Download --> */
.download-section {
  width: 90vw;
  margin: auto;
  height: 12rem;
  justify-content: space-between;
  align-items: flex-end;
}

.download-content, .download-email{
  align-self: center;
}

.download-content > h1 {
  font-weight: 700;
}
.download-content >h1> span {
  font-weight: 400;
}

.download-email{
  background-color: #e9edff;
  border-radius: 25px;
  width: 33vw;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
}

.download-email > form > input {
  border: none;
  background-color: transparent;
  color: #000000;
  font-weight: 600;
  
}

.download-email > button {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 25px;
  background-color: #5a31fc;
  color: #ffffff;
}


/* <!-- Footer Section --> */
.footer-section {
  background-color: #4516fe;
  width: 100vw;
  height: 16rem;
  color: #ffffff;
  justify-content: flex-start;
  align-items: center;
}

.footer-left {
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  margin-left: 5vw;
}

.footer-right {
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  gap: 2rem;
}

.footer-right-logo {
  gap: 20px;
}

.footer-logos {
  height: 40px;
  width: 40px;
}

.footer-logo {
  height: 45px;
  width: 125px;
}

.logos-list,
.list {
  list-style-type: none;
  gap: 10px;
  font-weight: 300;
}

.list-items:before {
  content: "|";
  margin-right: 15px;
}

.list-items:first-child:before {
  content: "";
}


.footer-left>ul>li:nth-child(2)::before{
  content: "";
}

@media screen and (max-width:1400px) {

  /* header section */

  header {
    height: 25rem;
    color: #ffffff;
    padding-top: 2rem;
  }

  .header-image{
    height: 28rem;
  }

  .logo{
    height: 40px;
  }

  .nav-item{
    font-size: 13px;
  }
  
 /* (ii)  Header description Left section */

  .header-text > h2 {
    font-size: 36px;
    letter-spacing: 1.3px;
    line-height: 46px;
    font-weight: 500;
  }

  /* 2. Companies section */

  .companies {
    font-size: 20px;
  }

  /* 3. Api Section */

  .api-heading, .blog-heading>h1{
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 600;
  }


  /* card section */

  .card , .card-active {
    height: 10.5rem;
    padding: 1.4rem;
  }

  .card-logo{
    height: 45px;
    width: 45px;
    margin-bottom: 15px;
  }

  .card-head, .card-head-active{
    font-size: 18px;
    line-height: 21px;
  }

  .card-body{
    font-size: 11px;
  }

  .card:hover{
    height: 10.5rem; 
    padding: 1.4rem; 
  }

  .next_button{
    border: none;
    align-self: center; 
    height: 40px;
    width: 40px;
  }

  .next_button>p{
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
  }
  

  /* Blog Section */

  .blog-heading>p{
    font-size: 1.2rem;
  }

  /* blogs */

  .blog-content{
    width: 23vw;
  }

  .blog-content>div>h3{
    font-weight: 600;
    font-size: 1.1rem;
  }

  small{
    font-size: 12px;
  }

  .blog-author{
    font-size: 14px;
  }



}


@media screen and (max-width:1200px) {

  header {
    height: 23rem;
    color: #ffffff;
    padding-top: 2rem;
  }


  .nav-right{
    width: 45vw;
  }

  .nav-item{
    font-weight: 300;
    font-size: 0.7rem;
  }

  .nav-item-active {
    font-size: 0.8rem;
    padding: 1.5px 12px;
    border: none;
    border-radius: 2px;
  }
  
  .logo{
    max-width: 100%;
    height: 34px;
  }

  .header-image{
    height: 25rem;
  }


  .header-text > h2 {
    font-size: 32px;
    letter-spacing: 1.2px;
    line-height: 40px;
    font-weight: 400;
  }

  .header-text > p {
    font-size: 14px;
  }
  
  /* 2. Companies section */

  .header-wrapper{
    gap: 1.1rem;
  }

  .companies {
    font-size: 15px;
  }

  /* 3. Api Section */

  .api-heading, .blog-heading>h1{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }

   /* card section */

   .card , .card-active, .card:hover {
    height: 9rem;
    padding: 1rem;
  }

  .card-logo{
    height: 36px;
    width: 36px;
    margin-bottom: 10px;
  }

  .card-head, .card-head-active{
    font-size: 16px;
    line-height: 19px;
  }

  .card-body{
    font-size: 9px;
  }

  .next_button{
    border: none;
    align-self: center; 
    height: 28px;
    width: 28px;
  }

  .next_button>p{
    font-weight: 300;
    font-size: 30px;
    line-height: 31px;
  }

  /* Blog Section */

  .blog-heading{
    width: 85vw;
    margin-left: 5vw;
  }

  .blog-heading>p{
    font-size: 0.9rem;
    font-weight: 600;
  }

  
  .blog-cards{
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.5rem;
  }

  .blog-content{
    width: 58vw;
    padding-right: 2rem;
  }

  .blog-content>div:first-child{
    margin-top: 2rem;
    gap: 1.5rem;
  }

  .blog-content>div>h6{
    font-size: 0.75rem;
  }

  .blog-content>div>h3{
    font-size: 1.3rem;
  }

  .blog-content>div>h3>br{
    display: none;
  }

  small{
    font-size: 14px;
  }

  .blog-bottom>img{
    height: 3.7rem;
  }

  .blog-bottom{
    position: relative;
    top: 3.1rem;
    left: 3.3rem;
    height: 3.2rem;
  }

  .blog-author{
    width: 300px;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    top: 0.3rem;
    left: 4rem;
  }

  .faq-section{
    height: 15rem;
  }

  .faq-content{
    width: 45vw;
    gap: 1rem;
  }

  .faq-content>h2{
    font-size: 30px;
    line-height: 50px;
    font-weight: 700;
  }

  div.faq-content>h4:nth-child(2){
    font-size: 12px;
    font-weight: 400;
  }
  
  div.faq-content>h4:nth-child(3){
    font-size: 14px;
    font-weight: 600;
  }
  
  .faq-content>button{
    font-size: 12px;
    height: 32px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: #5a31fc;
    color: #ffffff;
    }
  

  .download-section{
    height: 9rem;
  }

  .download-content > h1 {
    font-size: 30px;
    font-weight: 600;
  }

  .download-content >h1> span {
    font-weight: 300;
  }

  .download-email{
    background-color: #e9edff;
    border-radius: 25px;
    width: 33vw;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
  }
    
  .download-email > form > input {
    border: none;
    background-color: transparent;
    color: #000000;
    font-weight: 500;
    font-size: 12px;
    
  }
  
  .download-email > button {
    height: 42px;
    width: 130px;
    /* font-size: 14px; */
    border: none;
    border-radius: 25px;
    background-color: #5a31fc;
    color: #ffffff;
  }

  .footer-section{
    height: 13rem;
  }
  
  .footer-logo{
    width: 100px;
    height: 36px;
  }

  .footer-logos {
    height: 30px;
    width: 30px;
  }

  .footer-left, .footer-right {
    gap: 1.25rem;
  }

  .logos-list,
  .list {
    list-style-type: none;
    gap: 10px;
    font-weight: 300;
    font-size: 13px;
  }  

}

@media screen and (max-width:950px) {

  body{
    gap: 4rem;
  }

  header{
    height: 48rem;
    background-color: #6343e0;
    padding-top: 0rem;
  }

  /* nav-bar */

  nav{
    width: 96.5vw;
    height: 2rem;
    padding: 0.8rem;
    padding-top: 1.2rem;
    margin: auto;
    position: fixed;
    background-color: #6343e0;
    z-index: 1;
  }

  .logo{
    max-width: 100%;
    height: 30px;
  }

  .nav-right{
    width: 55vw;
  }

  /* header content section */

  header{
    gap: 3rem;
  }

  .header-content{
    flex-direction: column-reverse;
    justify-content: flex-start;
  }

  .header-text {
    width: 90vw;
    gap: 10px;
    padding: 4rem 0rem;
  }

  .header-image{
    margin-top: 6rem;
    height: 25rem;
    width: 33rem;
    position: relative;
    left: -2rem;
    transform: scaleX(-1);
  }

  .header-text{
    gap: 1.1rem;
  }

  .header-text > h2 {
    font-size: 30px;
    letter-spacing: 1.2px;
    line-height: 36px;
    font-weight: 400;
  }

  
  .api-heading, .blog-heading>h1{
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 600;
  }

  .cards{
    flex-wrap: wrap;
    gap: 2.5rem;
  }

  .card , .card-active, .card:hover{
    width: 20%;
    height: 8.25rem;
    padding: 1.2rem;
  }

  .card-head, .card-head-active{
    font-size: 14px;
    line-height: 17px;
  }

  /*  Blog Section */

  .blog-heading>p{
    font-size: 0.8rem;
  }

  .blog-cards{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4em;
  }

  .blog-card>img, .blog-card{
    height: 16rem;
  }

  
  .blog-content>div:first-child{
    margin-top: 1.2rem;
    gap: 1rem;
  }

  .blog-content>div>h6{
    font-size: 0.65rem;
  }

  .blog-content>div>h3{
    font-size: 1rem;
  }

  small{
    font-size: 10px;
  }

  .blog-content>div>h3>br{
    display: block;
  }

  .blog-bottom>img{
    height: 3.7rem;
  }

  .blog-bottom{
    position: relative;
    top: 2.7rem;
    left: 3.3rem;
    height: 2.7rem;
  }

  .blog-author{
    width: 300px;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    top: 0.3rem;
    left: 4rem;
  }

  .faq-content>h2{
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;
  }

  div.faq-content>h4:nth-child(2){
    font-size: 10px;
  }

  div.faq-content>h4:nth-child(3){
    font-size: 12px;
  }

  div.faq-content>h4:nth-child(2)>br{
   display: none;
  }

  .faq-content>button{
    font-size: 10px;
    height: 28px;
    width: 90px;
    border: none;
    border-radius: 4px;
    background-color: #5a31fc;
    color: #ffffff;
    }

  .faq-image>img{
    width: 22rem;
    
  }

  
  .download-section{
    height: 7.5rem;
  }

  .download-content > h1 {
    font-size: 24px;
    font-weight: 600;
  }

  .download-email{
    width: 43vw;
    height: 44px;
    padding-left: 1.2rem;
  }

  .download-email > form > input {
    font-size: 11px;
    
  }

  .download-email > button {
    height: 36px;
    width: 110px;
    font-size: 12px;
    border: none;
    border-radius: 25px;
    background-color: #5a31fc;
    color: #ffffff;
  }

  .footer-section{
    background-color: #6343e0;
  }

  
  .footer-logo{
    width: 90px;
    height: 32px;
  }

  .footer-logos {
    height: 24px;
    width: 24px;
  }

  .footer-left, .footer-right {
    gap: 1rem;
  }

  .logos-list,
  .list {
    list-style-type: none;
    gap: 10px;
    font-weight: 300;
    font-size: 10px;
    margin-left: -1rem;
  }





}

@media screen and (max-width:600px) {

  header{
    height: 38rem;
    background-color: #6343e0;
    padding-top: 0rem;
  }

  nav{
    width: 92.5vw;
  }

  .logo{
    max-width: 100%;
    height: 25px;
  }

  .nav-right{
    width: 35vw;
    justify-content: flex-end;
    gap: 1rem;
  }

  .nav-item{
    display: none;
  }

  .nav-item-active {
   font-size: 12px;
  }

  .nav-item:last-child{
    display: block;
  }

  /* header content */

  .header-image{
    margin-top: 6rem;
    height: 17rem;
    width: 24rem;
    position: relative;
    left: -2rem;
    transform: scaleX(-1);
  }


  .header-text {
    width: 90vw;
    gap: 0.5rem;
    padding: 4rem 0rem;
  }

  .header-text > img {
    height: 2px;
    width: 30px;
  }

  .header-text > h2 {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 32px;
    font-weight: 400;
  }


  /* companies */

  .companies{
    gap: 1.5rem;
    width: 94vw;
    justify-content: space-between;
  }

  .company-items {
    font-size: 11px;
    font-weight: 700;
  }

  /* api section */

  
  .api-heading, .blog-heading>h1{
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 600;
  }

  .cards{
    gap: 1.25rem;
  }

  .card , .card-active, .card:hover {
    width: 35%;
    height: 9rem;
    padding: 1rem;
  }



  /* blog section */

  .blog-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: max-content; 
  }

  .blog-card>img{
    max-width: 100%;
    border-top-right-radius: 50px;
  }

  .blog-content{
    width: inherit;
    border-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .blog-bottom>img{
    height: 3rem;
  }

  .blog-bottom{
    position: relative;
    top: 2rem;
    left: 2.7rem;
    height: 2.7rem;
  }

  .blog-author{
    width: 300px;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    top: -0.3rem;
    left: 3.2rem;
  }

  /* faq section */

  .faq-content{
    width: 96vw;
    align-items: center;
  }

  .faq-image{
    display: none; 
  }


  .download-section{
    flex-direction: column;
    align-items: flex-start;
    width: 96vw;
    height: 6rem;
  }

  .download-content{
    width: 85vw;
  }

  .download-content > h1 {
    font-size: 20px;
    font-weight: 600;
  }


  .download-email{
    width: 85vw;
    height: 38px;
    padding-left: 1.2rem;
  }
  
  .download-email > button {
    height: 32px;
    width: 80px;
    font-size: 10px;
    border: none;
    border-radius: 25px;
    background-color: #5a31fc;
    color: #ffffff;
  }

  /* footer section */

  .footer-section{
    height: 9rem;
  }

  .footer-logo{
    width: 70px;
    height: 25px;
  }

  .footer-right-logo{
    gap: 0.7rem;
  }

  .footer-logos {
    height: 18px;
    width: 18px;
  }

  .list{
    width: 90vw;
    flex-wrap: wrap;
    gap: 10px;
  }

  .footer-right{
    margin-bottom: 2rem;
  }

  .logos-list{
    display: none;
  }
}